streamlit
ollama
pdfplumber
pdf2image
pytesseract
pillow
pypdf
langchain-community
langchain-huggingface
langchain-text-splitters
sentence-transformers
chromadb
transformers
huggingface-hub
torchvision