streamlit
ollama
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
chromadb
pdfplumber
pytesseract
pdf2image
pillow
pypdf
torch
torchvision
transformers
huggingface-hub